module.exports = {
  env: {
    REGION_ID: "us-west-2",
    POOL_ID: "us-west-2_xxxxxxxx",
    CLIENT_ID: "EDIT_ME",
    URL: "http://EDIT_ME",
    O_AUTH_DOMAIN: "https://EDIT_ME",
    O_AUTH_SIGNIN_REDIRECT: "http://EDIT_ME",
    O_AUTH_SIGNOUT_REDIRECT: "http://EDIT_ME",
    JWKS: {
      keys: [...]
    }
  }
}